*{ margin:0; padding:0; font-size:12px;}
li{ list-style-type:none;}
img{ border:0; display:block;}
a{ text-decoration:none; color:#303030;}
a:hover{ text-decoration:underline; color:#1c76b4;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.blank10{ height:10px; line-height:10px; overflow:hidden; clear:both;}
.blank15{ height:15px; line-height:15px; overflow:hidden; clear:both;}
body{ background-image:url(images/bg_body_cl1108.jpg); background-repeat:repeat-x;}
.top_cl1108{ width:980px; margin:0 auto; height:100px; background-image:url(images/top_bg_cl1108.jpg);}
.top_cl1108_left{ width:387px; height:86px;}
.top_cl1108_right{ width:593px; overflow:hidden;}
.top_cl1108_right_shang{ overflow:hidden; padding-top:32px;}
.shoucang_cl1108{ width:130px; padding-left:25px; height:24px; line-height:24px;}
.tianqi_cl1108{ height:24px; line-height:24px;}
.nav_cl1108{ width:971px; padding-left:9px; margin:0 auto; height:24px; background-image:url(images/nav_bg_cl1108.jpg); display:block;}
.nav_cl1108 li{ float:left; height:24px; line-height:24px; text-align:center; margin-right:4px; *line-height:28px; overflow:hidden;}
.nav_cl1108 li a{ font-size:14px; font-weight:bold; color:#993300;}
.nav_cl1108 li.nav1_cl1108{ width:68px;}
.nav_cl1108 li.nav2_cl1108{ width:111px;}
.nav_cl1108 li.nav3_cl1108{ width:111px;}
.nav_cl1108 li.nav4_cl1108{ width:95px;}
.nav_cl1108 li.nav5_cl1108{ width:95px;}
.nav_cl1108 li.nav6_cl1108{ width:95px;}
.nav_cl1108 li.nav7_cl1108{ width:70px;}
.nav_cl1108 li.nav8_cl1108{ width:95px;}
.nav_cl1108 li.nav9_cl1108{ width:95px;}
.nav_cl1108 li.nav10_cl1108{ width:95px; display:inline;}
.nav_cl1108 li.nav1_cl1108 a{ width:68px; background-image:url(images/bg_er_cl1108.jpg); display:block;}
.nav_cl1108 li.nav2_cl1108 a{ width:111px; background-image:url(images/bg_liu_cl1108.jpg); display:block;}
.nav_cl1108 li.nav3_cl1108 a{ width:111px; background-image:url(images/bg_liu_cl1108.jpg); display:block;}
.nav_cl1108 li.nav4_cl1108 a{ width:95px; background-image:url(images/bg_si_cl1108.jpg); display:block;}
.nav_cl1108 li.nav5_cl1108 a{ width:95px; background-image:url(images/bg_si_cl1108.jpg); display:block;}
.nav_cl1108 li.nav6_cl1108 a{ width:95px; background-image:url(images/bg_si_cl1108.jpg); display:block;}
.nav_cl1108 li.nav7_cl1108 a{ width:70px; background-image:url(images/bg_san_cl1108.jpg); display:block;}
.nav_cl1108 li.nav8_cl1108 a{ width:95px; background-image:url(images/bg_si_cl1108.jpg); display:block;}
.nav_cl1108 li.nav9_cl1108 a{ width:95px; background-image:url(images/bg_si_cl1108.jpg); display:block;}
.nav_cl1108 li.nav10_cl1108 a{ width:95px; background-image:url(images/bg_si_cl1108.jpg); display:block;}
.nav_cl1108 li.nav1_cl1108 a:hover{ background-image:url(images/hong_er_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav2_cl1108 a:hover{ background-image:url(images/hong_liu_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav3_cl1108 a:hover{ background-image:url(images/hong_liu_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav4_cl1108 a:hover{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav5_cl1108 a:hover{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav6_cl1108 a:hover{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav7_cl1108 a:hover{ background-image:url(images/hong_san_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav8_cl1108 a:hover{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav9_cl1108 a:hover{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.nav_cl1108 li.nav10_cl1108 a:hover{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav1_chengliang .nav_cl1108 li.nav1_cl1108 a{ background-image:url(images/hong_er_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav2_chengliang .nav_cl1108 li.nav2_cl1108 a{ background-image:url(images/hong_liu_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav3_chengliang .nav_cl1108 li.nav3_cl1108 a{ background-image:url(images/hong_liu_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav4_chengliang .nav_cl1108 li.nav4_cl1108 a{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav5_chengliang .nav_cl1108 li.nav5_cl1108 a{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav6_chengliang .nav_cl1108 li.nav6_cl1108 a{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav7_chengliang .nav_cl1108 li.nav7_cl1108 a{ background-image:url(images/hong_san_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav8_chengliang .nav_cl1108 li.nav8_cl1108 a{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav9_chengliang .nav_cl1108 li.nav9_cl1108 a{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
#nav10_chengliang .nav_cl1108 li.nav10_cl1108 a{ background-image:url(images/hong_si_bg_cl1108.jpg); color:#FFF; text-decoration:none;}
.find_cl1108{ width:965px; padding-left:15px; margin:0 auto; height:29px; padding-top:6px; background-image:url(images/find_bg_cl1108.jpg);}
.find_cl1108 .shuru_cl1108{ width:250px; padding-left:5px; padding-right:5px; height:24px; line-height:24px; border:0; float:left; color:#666666;}
.find_cl1108 .sousuo_cl1108{ float:left; width:95px; height:24px; line-height:26px; background-image:url(images/sousuo_cl1108.jpg); border:0; margin-left:1px; font-size:14px; font-weight:bold; color:#FFF; overflow:hidden;}
.find_cl1108 .remen_cl1108{ float:left; height:24px; line-height:24px; padding-left:25px; color:#FFF; font-weight:bold; width:195px;}
.find_cl1108 .remen_cl1108 a{ font-weight:normal; color:#FFF;}
.find_cl1108 .remen_cl1108 a:hover{ color:#1c76b4;}
.find_cl1108 .mingzi_cl1108{ float:left; height:24px; line-height:24px; padding-left:10px;}
.find_cl1108 .ming_cl1108{ float:left; width:80px; padding-left:5px; padding-right:5px; height:16px; line-height:16px; border:1px solid #bebebe; margin-top:3px;}
.find_cl1108 .denglu_cl1108{ float:left; width:53px; height:20px; line-height:22px; background-image:url(images/denglu_cl1108.jpg); border:0; margin-top:2px; margin-left:6px; color:#FFF;}
.find_cl1108 .zhuce_cl1108{ float:left; height:24px; line-height:24px; padding-left:6px;}
.find_cl1108 .zhuce_cl1108 a{ color:#333333; white-space:nowrap;}
.find_cl1108 .zhuce_cl1108 a:hover{ color:#1c76b4;}
.content_cl1108{ width:980px; margin:0 auto; overflow:hidden; padding-top:10px;}
.banner_cl1108{ width:650px; height:259px;}
.qianzheng_cl1108{ width:320px;}
.qianzheng_cl1108_shang{ width:320px; height:30px; background-image:url(images/qianzheng_bg_cl1108.jpg);}
.qianzheng_cl1108_shang .banqianzheng_cl1108{ float:left; width:82px; text-align:center; height:26px; line-height:28px; *line-height:30px; overflow:hidden; background-image:url(images/qianzheng_hong_cl1108.jpg); margin-top:4px; display:inline; margin-left:9px; margin-right:10px;}
.qianzheng_cl1108_shang .banqianzheng_cl1108 a{ font-size:14px; color:#FFF; font-weight:bold;}
.qianzheng_cl1108_shang .banqianzheng_cl1108 a:hover{ color:#FFF; text-decoration:none;}
.qianzheng_cl1108_shang .cl1108_zhou1{ float:left; width:39px; text-align:center; height:19px; line-height:21px; overflow:hidden; background-image:url(images/yazhou_cl1108.jpg); margin-top:11px; margin-right:2px;}
.qianzheng_cl1108_shang .cl1108_zhou2{ float:left; width:39px; text-align:center; height:19px; line-height:21px; overflow:hidden; background-image:url(images/yazhou_cl1108.jpg); margin-top:11px; margin-right:2px;}
.qianzheng_cl1108_shang .cl1108_zhou3{ float:left; width:39px; text-align:center; height:19px; line-height:21px; overflow:hidden; background-image:url(images/yazhou_cl1108.jpg); margin-top:11px; margin-right:2px;}
.qianzheng_cl1108_shang .cl1108_zhou4{ float:left; width:39px; text-align:center; height:19px; line-height:21px; overflow:hidden; background-image:url(images/yazhou_cl1108.jpg); margin-top:11px; margin-right:2px;}
.qianzheng_cl1108_shang .cl1108_zhou5{ float:left; width:39px; text-align:center; height:19px; line-height:21px; overflow:hidden; background-image:url(images/yazhou_cl1108.jpg); margin-top:11px; margin-right:2px;}
.qianzheng_cl1108_xia{ width:277px; padding-left:19px; padding-right:22px; border:1px solid #dfdfdf;}
.cl1108_lvyou{ width:277px; padding-top:10px; padding-bottom:17px;}
.cl1108_lvyou dd{ height:25px; line-height:25px;}
.cl1108_lvyou dd span{ float:right; color:#ff6600;}
.cl1108_lvyou2{ display:none;}
.cl1108_lvyou3{ display:none;}
.cl1108_lvyou4{ display:none;}
.cl1108_lvyou5{ display:none;}
.content2_cl1108{ width:990px; margin:0 auto; overflow:hidden; padding-top:10px;}
.cl1108_lvyouredian{ width:320px; padding-left:5px; padding-right:5px;}
.cl1108_lvyouredian_top{ width:293px; padding-left:16px; padding-right:11px; height:32px; line-height:32px; background-image:url(images/cl1108_lvyouredian_bg.jpg); font-size:14px; font-weight:bold; color:#FFF;}
.cl1108_lvyouredian_top a{ float:right; color:#FFF; font-weight:normal; display:block; height:32px; line-height:32px; width:33px; background-image:url(images/cl1108_gengduo_bai.jpg); background-repeat:no-repeat; background-position:28px 12px; *background-position:28px 11px;}
.cl1108_lvyouredian_top a:hover{ color:#FFF;}
.cl1108_lvyouredian_content{ width:308px; padding-left:10px; border-bottom:1px solid #ff960e; border-left:1px solid #ff960e; border-right:1px solid #ff960e; padding-top:12px; padding-bottom:15px;}
.cl1108_lvyouredian_content dd{ height:22px; line-height:22px;}
.cl1108_lvyouredian_content dd a{ color:#005ba0;}
.content3_cl1108{ width:980px; margin:0 auto; overflow:hidden; padding-top:10px;}
.cl1108_xianlu{ width:650px;}
.cl1108_xianlu_guo{ width:628px; padding-left:8px; padding-right:14px; height:30px; background-image:url(images/cl1108_xianlu_shang_bg.jpg);}
.cl1108_xianlu_guo .cl1108_xianlu_guo_hong{ float:left; width:116px; height:26px; text-align:center; line-height:26px; background-image:url(images/cl1109_xianlu_shang_bg2.jpg); margin-top:4px; font-size:14px; color:#FFF; font-weight:bold;}
.cl1108_xianlu_guo .cl1108_xianlu_guo_duo{ float:right;}
.cl1108_xianlu_guo .cl1108_xianlu_guo_duo a{ display:block; width:35px; height:30px; line-height:30px; background-image:url(images/cl1109_huisanjiao.jpg); background-repeat:no-repeat; background-position:27px 10px; *background-position:27px 9px; color:#a4a4a4;}
.cl1108_xianlu_guo .cl1108_xianlu_guo_duo a:hover{ color:#a4a4a4;}
.cl1108_xianlu_duo{ width:648px; border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; overflow:hidden;}
.cl1108_xianlu_duo_xuan{ float:left; width:288px; padding-left:12px; padding-right:24px; padding-top:8px; padding-bottom:8px;}
.cl1108_xianlu_duo_xuan dd{ height:28px; line-height:28px;}
.cl1108_xianlu_duo_xuan dd a{ color:#333333;}
.cl1108_xianlu_duo_xuan dd a:hover{ color:#1c76b4;}
.cl1108_xianlu_duo_xuan dd span{ float:right; color:#ff6600;}
.cl1108_ziyouxianlu{ width:320px;}
.cl1108_ziyouxianlu_shang{ width:312px; padding-right:8px; height:30px; background-image:url(images/cl1109_ziyouxianlu_bg.jpg);}
.cl1108_ziyouxianlu_shang .cl1108_ziyouxianlu_shang_lubiao{ float:left; width:84px; padding-left:36px; height:30px; line-height:30px; background-image:url(images/cl1109_lubiao.jpg); background-repeat:no-repeat; background-position:10px 5px; font-size:14px; font-weight:bold;}
.cl1108_ziyouxianlu_shang .cl1108_ziyouxianlu_shang_duo{ float:right;}
.cl1108_ziyouxianlu_shang .cl1108_ziyouxianlu_shang_duo a{ display:block; width:35px; height:30px; line-height:30px; background-image:url(images/cl1109_huisanjiao.jpg); background-repeat:no-repeat; background-position:27px 10px; *background-position:27px 9px; color:#a4a4a4;}
.cl1108_ziyouxianlu_content{ width:290px; padding-left:14px; padding-right:14px; border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding-top:17px; padding-bottom:14px;}

.cl1108_ziyouxianlu_content dt{ margin-bottom:14px;}
.cl1108_ziyouxianlu_content dt a img{ border:1px solid #dfdfdf;}
.cl1108_ziyouxianlu_content dd{ height:28px; line-height:28px;}
.cl1108_ziyouxianlu_content dd span{ float:right; color:#ff6600;}
.cl1109_content_img{ width:980px; margin:0 auto; padding-top:10px;}
.cl1109_content_img img{ border:1px solid #d3d3d3;}
.cl1109_content1{ width:980px; margin:0 auto; padding-top:10px; overflow:hidden;}
.cl1109_content1_left{ width:650px;}
.cl1109_content1_left_feng{ width:648px; border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; background-image:url(images/cl1109_liangxuxian.jpg); background-repeat:no-repeat; overflow:hidden;}
.cl1109_content1_left_feng_ge{ width:170px; padding-left:23px; padding-right:23px; padding-top:7px; float:left;}
.cl1109_content1_left_feng_ge1{ padding-top:5px;}
.cl1109_content1_left_feng_ge2{ height:24px; line-height:24px; border-bottom:1px solid #bcbcbc; padding-top:5px; color:#333333; font-weight:bold;}
.cl1109_content1_left_feng_ge2 a{ float:right; display:block; width:33px; height:24px; line-height:24px; font-weight:normal; background-image:url(images/cl1109_heisanjiao.jpg); background-repeat:no-repeat; background-position:27px 9px; *background-position:27px 8px;}
.cl1109_content1_left_feng_ge3{ padding-top:5px; padding-bottom:3px;}
.cl1109_content1_left_feng_ge3 dd{ height:24px; line-height:24px;}
.cl1109_content1_left_feng_ge3 dd span{ float:right; color:#ff6600;}
.cl1109_content1_left_feng_ge3 dd a{ color:#777777;}
.cl1109_content1_left_feng_ge3 dd a:hover{ color:#1c76b4;}
.cl1109_content1_left_xiang{ padding-top:10px; padding-bottom:10px;}
.cl1109_content1_right{ width:320px;}
.cl1108_ziyouxianlu_shang .cl1108_ziyouxianlu_shang_xiangji{ float:left; width:84px; padding-left:36px; height:30px; line-height:30px; background-image:url(images/cl1109_xiangji.jpg); background-repeat:no-repeat; background-position:10px 8px; font-size:14px; font-weight:bold;}
.cl1109_content1_right_content{ width:294px; padding-left:11px; padding-right:13px; border-bottom:1px solid #dadada; border-left:1px solid #dadada; border-right:1px solid #dadada; padding-top:15px; padding-bottom:14px;}
.cl1109_content1_right_content_title{ width:294px; height:26px; background-image:url(images/cl1109_xiaoyi_bg.jpg);}
.cl1109_content1_right_content_title .cl1109_content1_right_content_title1{ float:left;}
.cl1109_content1_right_content_title .cl1109_content1_right_content_title1 a{ display:block; width:100px; padding-left:17px; height:26px; line-height:28px; *line-height:30px; background-image:url(images/cl1109_hongdian.jpg); background-repeat:no-repeat; overflow:hidden;}
.cl1109_content1_right_content_title .cl1109_content1_right_content_title2{ float:left;}
.cl1109_content1_right_content_tuwen{ width:289px; padding-left:5px; overflow:hidden; padding-top:12px;}
.cl1109_content1_right_content_tuwen_tu{ width:75px;}
.cl1109_content1_right_content_tuwen_wen{ width:206px; padding-left:8px;}
.cl1109_content1_right_content_tuwen_wen dt{ height:18px;}
.cl1109_content1_right_content_tuwen_wen dt a{ font-weight:bold; color:#005ba0;}
.cl1109_content1_right_content_tuwen_wen dd{ height:20px; line-height:20px;}
.cl1109_content1_right_content_tuwen_wen dd a{ color:#005ba0;}
.cl1109_content1_right_content_zhang{ padding-left:5px; padding-top:12px;}
.cl1109_content1_right_content_ouzhou{ padding-left:5px; padding-bottom:10px; padding-top:8px;}
.cl1109_content1_right_content_ouzhou dd{ height:25px; line-height:25px;}
.cl1109_content1_right_content_ouzhou dd a{ color:#005ba0;}
.cl1109_content1_right_content_banner{ width:292px; height:232px; border:1px solid #b5b5b5;}
.cl1109_content2{ width:980px; margin:0 auto; overflow:hidden; padding-top:10px;}
.cl1109_content2_left{ width:650px; overflow:hidden;}
.cl1109_content2_left_zixun{ width:320px;}
.cl1109_content2_left_zixun1{ width:320px; height:32px; line-height:32px; background-image:url(images/cl1108_lvyouredian_bg.jpg);}
.cl1109_content2_left_zixun1 span{ float:left; width:70px; padding-left:41px; height:32px; line-height:32px; font-size:14px; font-weight:bold; color:#FFF; background-image:url(images/cl1109_guoji.jpg); background-repeat:no-repeat; background-position:14px 6px;}
.cl1109_content2_left_zixun1 a{ float:right; width:45px; height:32px; line-height:32px; color:#FFF; background-image:url(images/cl1108_gengduo_bai.jpg); background-repeat:no-repeat; background-position:30px 12px; *background-position:30px 11px;}
.cl1109_content2_left_zixun1 a:hover{ color:#FFF;}
.cl1109_content2_left_zixun2{ width:288px; padding-left:15px; padding-right:15px; border-bottom:1px solid #ff9813; border-left:1px solid #ff9813; border-right:1px solid #ff9813; padding-top:7px; padding-bottom:12px;}
.cl1109_content2_left_zixun2 dd{ height:24px; line-height:24px; *line-height:26px; overflow:hidden; border-bottom:1px dashed #767676; padding-left:10px; background-image:url(images/cl1109_diansan.jpg); background-repeat:no-repeat; background-position:0px 8px;}
.cl1109_content2_left_zixun2 dd span{ float:right; color:#adadad;}
.cl1109_content2_left_zixun3{ width:320px; height:32px; line-height:32px; background-image:url(images/cl1108_lvyouredian_bg.jpg);}
.cl1109_content2_left_zixun3 span{ float:left; width:70px; padding-left:41px; height:32px; line-height:32px; font-size:14px; font-weight:bold; color:#FFF; background-image:url(images/cl1109_guonei.jpg); background-repeat:no-repeat; background-position:14px 7px; *background-position:14px 6px;}
.cl1109_content2_left_zixun3 a{ float:right; width:45px; height:32px; line-height:32px; color:#FFF; background-image:url(images/cl1108_gengduo_bai.jpg); background-repeat:no-repeat; background-position:30px 12px; *background-position:30px 11px;}
.cl1109_content2_left_zixun3 a:hover{ color:#FFF;}
.cl1109_content2_right{ width:320px;}
.cl1109_content2_right_title{ width:298px; padding-left:11px; padding-right:11px; height:30px; background-image:url(images/qianzheng_bg_cl1108.jpg);}
.cl1109_content2_right_title1{ float:left; width:106px; text-align:center; height:26px; line-height:26px; margin-top:4px; background-image:url(images/cl1109_hong.jpg); font-size:14px; font-weight:bold; color:#FFF;}
.cl1109_content2_right_title2{ float:right;}
.cl1109_content2_right_title2 a{ display:block; width:35px; height:30px; line-height:30px; *line-height:32px; overflow:hidden; background-image:url(images/cl1109_huisanjiao.jpg); background-repeat:no-repeat; background-position:27px 10px; color:#a4a4a4;}
.cl1109_content2_right_title2 a:hover{ color:#a4a4a4;}
.cl1109_content2_right_content{ width:318px; border-bottom:1px solid #dcdcdc; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; padding-top:15px; padding-bottom:11px; overflow:hidden;}
.cl1109_content2_right_content li{ float:left; width:67px; padding-left:39px; height:30px; line-height:30px;}
.cl1109_content2_right_content li.biao1_cl1109{ background-image:url(images/cl1109_biao1.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao2_cl1109{ background-image:url(images/cl1109_biao2.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao3_cl1109{ background-image:url(images/cl1109_biao3.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao4_cl1109{ background-image:url(images/cl1109_biao4.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao5_cl1109{ background-image:url(images/cl1109_biao5.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao6_cl1109{ background-image:url(images/cl1109_biao6.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao7_cl1109{ background-image:url(images/cl1109_biao7.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao8_cl1109{ background-image:url(images/cl1109_biao8.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao9_cl1109{ background-image:url(images/cl1109_biao9.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao10_cl1109{ background-image:url(images/cl1109_biao10.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao11_cl1109{ background-image:url(images/cl1109_biao11.jpg); background-repeat:no-repeat;}
.cl1109_content2_right_content li.biao12_cl1109{ background-image:url(images/cl1109_biao12.jpg); background-repeat:no-repeat;}
.cl1109_content3{ width:901px; padding-left:77px; border:1px solid #dddddd; height:113px; background-color:#fafafa; margin:0 auto; margin-top:10px; background-image:url(images/xinshang_cl1109.jpg); background-repeat:no-repeat; position:relative;}
.cl1109_content3_bao{ width:896px; height:113px; overflow:hidden;}
.cl1109_content3_bao_gun{ width:896px; height:113px; overflow:hidden;}
.cl1109_content3_bao_gun li{ float:left; width:94px; padding-left:9px; padding-right:9px; padding-top:15px;}
.cl1109_content3_bao_gun li div a img{ border:2px solid #cccccc;}
.cl1109_content3_bao_gun li p{ height:30px; line-height:30px; width:94px; text-align:center;}
.hot_cl1109{ position:absolute; left:-4px; top:-4px;}
.cl1109_content4{ width:950px; padding-left:13px; padding-right:15px; border:1px solid #dedede; margin:0 auto; margin-top:10px; line-height:24px; padding-top:9px; padding-bottom:9px; color:#0055ee;}
.cl1109_content4 a{ color:#0055ee;}
.cl1109_content4 a:hover{ color:#1c76b4;}
.cl1109_content5{ height:107px; padding-top:10px; text-align:center; line-height:24px; background-image:url(images/banquan_bg_cl1109.jpg); margin-top:10px; color:#3b3b3b;}
.cl1109_content5 a{ color:#3b3b3b;}
.cl1109_content5 a:hover{ color:#1c76b4;}